/__pycache__/
/Fake-Maps/.ipynb_checkpoints/
/Fake-Maps/__pycache__/
/Fake-Maps/fake-3d-maps/.ipynb_checkpoints/
/Fake-Maps/fake-3d-maps/__pycache__/
/Fake-Maps/fake-3d-maps/no_use/
/Fake-Maps/fake-3d-maps/cube_fits/
/Fake-Maps/fake-3d-maps/first_experiment_batch/
/Fake-Maps/fake-3d-maps/no_use//.ipynb_checkpoints/
/Fake-Maps/fake-3d-maps/first_experiment_batch/.ipynb_checkpoints/
/Fake-Maps/fake-3d-maps/no_use/__pycache__/
/Fake-Maps/fake-3d-maps/first_experiment_batch/__pycache__/
/.ipynb_checkpoints
/py-modules/__pycache__/
